.ico ico-home::before{
	content: ' ';
    background-size: cover;
    display: inline-block;
    width: 20px;
    height: 20px;
}

.ico ico-home::before{
	background-image: url(../images/icon/outline_home_black_24dp.png);
}

.ico ico-home:hover::before{
	background-image: url(../images/icon/baseline_home_black_24dp.png);